<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='admin_login.css')}}">
    <meta charset="UTF-8">
    <title>霍格沃兹管理员登录</title>
</head>
<body>
<h1>管理员登录</h1>
<p>
    <p1>请输入膜法指令:</p1>
    <input id="sid" type="password" required>
    <button onclick="onSubmit()">登录</button>
</p>
<p id="hint"></p>


<script>
    function onSubmit(){
        var id=document.getElementById("sid");
        var hint=document.getElementById("hint");
        if(id.value!=="miaow"){
            hint.innerHTML="你是麻瓜!";
        }else{
            hint.innerText="正准备飞天扫帚...";
            window.open("admin_home.html","魔法部门办公室","",false);

        }
    }
</script>
</body>
</html>