<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加学生</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{url_for('static',filename='Utils.js')}}"></script>
    <script>
        function onSubmit() {
            var name=document.getElementById("name").value;
            var sid=document.getElementById("sid").value;
            var college=document.getElementById("college").value;
            var pres=document.getElementById("pres").value;
            var gender=document.forms['check']['gender'].value;
            console.log('start submit'+name+sid+college+pres+gender);
            if(name==""||sid==""||college==""||pres==""||gender==""){
                document.getElementById('hint').innerText="输入有误,请重新输入";
                return;
            }
            $.ajax(
                {
                    url:Utils.server+"admin_add_student",
                    type: 'get',
                    dataType: 'jsonp',
                    jsonpCallback: 'admin_add_student',
                    data: {
                        'name':name,
                        'sid':sid,
                        'college':college,
                        'pres':pres,
                        'gender':gender
                    },
                    success:function (data,textStatus) {
                        console.log(data)
                        document.getElementById('hint').innerText=data.status;
                    }
                }
            )
        }
    </script>
</head>
<body>
<p><b>添加学生</b></p>



    <p>姓名:</p>
    <input type="text" id="name" required><br>
    <p>学号:</p>
    <input type="text" id="sid" required><br>
<form name="check">
    <p>性别:</p>
    <input type="radio" name="gender" value="F" required>女<br>
    <input type="radio" name="gender" value="M" required>男<br>
    <input type="radio" name="gender" value="M" required>兽人<br>
</form>
    <p>书院:</p>
    <input type="text" id="college" required><br>
    <p>修过的课(用,隔开):</p>
    <input type="text" id="pres"><br>
    <button onclick="onSubmit()">添加</button>

<p id="hint"></p>

</body>
</html>